@using Microsoft.AspNetCore.Components

<div class="grid-stack-item" id="@Id"
     data-gs-x="@X" data-gs-y="@Y"
     data-gs-width="@Width" data-gs-height="@Height">
    <div class="grid-stack-item-content pa-2">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    [Parameter] public int X { get; set; }
    [Parameter] public int Y { get; set; }
    [Parameter] public int Width { get; set; } = 3;
    [Parameter] public int Height { get; set; } = 2;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
